$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

@mixin respondTo($device) {
    @if $device == 'phone'  {
        @media (max-width: $screen-sm) {
            @content;
        }
    }
    @else if $device == 'tablet' {
        @media (min-width: $screen-sm) {
            @content;
        }
    }
    @else if $device == 'desktop' {
        @media (min-width: $screen-md) {
            @content;
        }
    }
    @else if $device == 'wide' {
        @media (min-width: $screen-lg) {
            @content;
        }
    }
}

@keyframes slide {
    0% { left:100%; }
    16.66% { left: 83% 0; }
    33.32% { left: 66% 0; }
    49.98% { left: 50% 0; }
    66.64% { left: 33% 0; }
    83.30% { left: 16% 0; }
    100% { left:0; }
}

@keyframes slideBack {
    0% { left: -100%; }
    16.66% { left: -83% 0; }
    33.32% { left: -66% 0; }
    49.98% { left: -50% 0; }
    66.64% { left: -33% 0; }
    83.30% { left: -16% 0; }
    100% { left: 0; }
}
