.slider {
    &__wrapper {
        width: 100%;
        position: relative;
        min-height: 400px;

        &:hover {
            .slider__button {
                @include respondTo('desktop') {
                    display: block;
                }
            }
        }
    }

    &__items {
        width: 100%;
        position: relative;
        min-height: 400px;
    }

    &__background {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    &__item {
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: 0;

        &--active {
            animation-name: slide;
            animation-duration: .5s;
            animation-direction: normal;
            animation-timing-function: ease;
            z-index: 2;
        }

        &--backwards {
            animation-name: slideBack;
            animation-duration: .5s;
            animation-direction: normal;
            animation-timing-function: ease;
            z-index: 2;
        }

        &--last {
            z-index: 1;
        }
    }

    &__content {
        background-color: $white;
        border: 1px solid $color-klm-border;
        position: absolute;
        padding: 20px;
        left: 150px;
        top: 50px;
        width: 200px;
        height: 100px;

        @include respondTo('phone') {
            // For mobile we always want to see the chevron's
            left: 50px;
        }
    }

    &__indicators {
        position: absolute;
        z-index: 4;
        bottom: 0;
        right: 0;
        height: 20px;
        opacity: 0.8;
    }

    &__indicator {
        border-radius: 50%;
        border: 1px solid $color-klm-border;
        background-color: $white;
        width: 10px;
        height: 10px;
        float: left;
        margin-right: 10px;
        cursor: pointer;

        @include respondTo('phone') {
            pointer-events: none;
        }

        &--active {
            background-color: $color-klm-header;
        }
    }

    &__button {
        z-index: 4;
        position: absolute;
        top: 0;
        display: block;
        opacity: 1;
        width: 30px;
        font-size: 40pt;
        top: calc(50% - 15px);
        color: $white;
        font-family: 'chevrons';
        width: 50px;

        @include respondTo('desktop') {
            // From desktop on the chevrons are hidden, they are only shown on hover
            display: none;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        &--next {
            right: 0;
            &:after {
                display: block;
                content: '\e901';
                font-family: 'chevrons';
                width: 50px;
                height: 10px;
            }
        }
        &--prev {
            left: 0;
            &:after {
                display: block;
                content: '\e900';
                width: 10px;
                height: 10px;
            }
        }
    }
}
