@import 'colors';
@import 'mixins';

@import 'slider';
html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: $color-klm-blue;
    font-family: Verdana, Arial;
}

.container {
    max-width: $screen-lg;
    margin: 0 auto;
    background-color: $white;
    min-height: 300px;
    overflow: hidden;
}

@font-face {
  font-family: 'chevrons';
  src:  url('../fonts/chevrons.eot?sud5zz');
  src:  url('../fonts/chevrons.eot?sud5zz#iefix') format('embedded-opentype'),
    url('../fonts/chevrons.ttf?sud5zz') format('truetype'),
    url('../fonts/chevrons.woff?sud5zz') format('woff'),
    url('../fonts/chevrons.svg?sud5zz#chevrons') format('svg');
  font-weight: normal;
  font-style: normal;
}
